// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

body {
    background-image:url("/top_images/visual_bg.jpg");
    background-size:cover;
    background-attachment:fixed;
    margin:0;
}

body , h3 , h2 , h4 {
    font-family: 'Noto Sans JP', sans-serif;
}

* {
    margin-top: 0;
    box-sizing:border-box;
}

li {
    list-style:none;
}

.container {
    width:100%;
}

a {
    text-decoration: none;
}

a , p , h3 , h2 {
    color:rgb(37, 32, 21);
}

p {
    font-size:20px;
    font-weight:normal;
}

h2 {
    font-size:47px;
    font-weight:900;
    margin:0;
}


h3 {
    font-size:35px;
    margin:0;
    font-weight:900;
}

.main {
    display:flex;
    flex-direction: row;
    justify-content:center;
}

ul {
    //display:flex;
    //flex-direction:row;
}

#point {
    padding-top: 65px;
    margin-top: -65px;
}


//top-wrapper

.top-wrapper {
    position:relative;
    height:875px;
    overflow: hidden;
}

.logo {
    width:120px;
    position:absolute;
    top:50px;
    right:0;
    left:0;
    margin:auto;
    z-index:10;
}

.img01 {
    width:440px;
    position:absolute;
    top:100px;
    right:0;
    left:0;
    margin:auto;
    z-index:10;
}

.img03 {
    width:410px;
    position:absolute;
    left:360px;
    display:block !important;
}

.pad01 {
    display:none !important;
}

.img04 {
    width:750px;
    position:absolute;
    right:100px;
    bottom:0;
    display:block !important;
}

.pad02 {
    display:none !important;
}

.img05 {
    width:780px;
    position:absolute;
    bottom:30px;
    display:block !important;
}

.pad03 {
    display:none !important;
}


//center-wrapper

.center-wrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index:10;
}

.center {
    height:65px;
    background-color:white;
    line-height:65px;
    //padding:0 320px;
    font-weight:900;
    font-size:18px;
    color:rgb(37, 32, 21);
    width:100%;
}

.center-list {
    //justify-content:space-around;
    //display:flex;
    //justify-content:center;
    max-width:1200px;
    margin:0 auto;
}

.center-list a {
    //padding:0 10px;
    display:block;
    white-space: nowrap;
}

.center-list li {
    width:19%;
    text-align:center;
    display:inline-block;
}

.center-head a:hover {
    background-color:rgb(229, 226, 226);
}

.li-logo {
    width:80px;
    vertical-align: middle;
}

.center-online a {
    color:rgb(24, 226, 226);
}

.center-online a:hover {
    background-color:rgb(24, 226, 226);
    color:white;
}

.fa-center {
    padding-right:5px;
}



//thirteen-wrapper

.thrteen {
    width:990px;
}

.heading-logo {
    width:1200px;
    padding:90px 0 110px 0;
    display:block;
    margin:0 auto;
}

.thirteen-wrapper {
    height:700px;
    margin-bottom:10%;
}

.package {
    width:400px;
    padding-right:100px;
    align-self: flex-start;
}

.component {
    width:140px;
}

.thirteen-p {
    padding:20px 0;
}

.thirteen-contents {
    display:flex;
    flex-flow:column;
}

.thirteen-link {
    display:block;
    border:2px solid black;
    font-size:25px;
    padding:10px 0;
    margin-top:40px;
    color:white;
    background-color:black;
    text-align:center;
    width:530px;
}

.thirteen-link:hover {
    color:black;
    background-color:white;
}

.fa-thirteen {
    padding:20px 30px 20px 0;
}

.fafa-thirteen {
    padding:20px 0 20px 50px;
}


// noone-wrapper

.noone-wrapper {
    position:relative;
    height:1300px;
    margin-bottom:25%;
}

.noone-main {
    flex-flow:column;
    align-items: center;
}

.noone-half {
    text-align:center;
}

.noone-attention {
    font-weight:900;
    background:linear-gradient(transparent 70%, #ffc04c 0%) ;
}

.noone-img {
    flex-direction: row;
    padding:40px 0;
}

.graph {
    width:500px;
    margin:0 20px 0 20px;
    padding-bottom:20px;
}

.annotation {
    font-size:14px;
}

.sub {
    position:absolute;
    z-index:2;
}

.subs {
    position:absolute;
    z-index:1;
}

.sweet-content {
    width:100%;
    height:22.5vw;
    position:relative;
    margin-top:150px;
}

.noone-sweet {
    width:33vw;
    top:30%;
    left:10%;
    //bottom:100px;
}

.noone-sweets {
    width:66vw;
    right:0;
    //bottom:0;
    //padding-top:150px;
}


//point-wrapper

.point-heading {
    display:flex;
    flex-flow: column;
    align-items: center;
}

.under-point {
    width:250px;
    padding:10px 0;
}

.point-main {
    position:relative;
    //padding:60px 0;
    height:700px;
    margin-bottom:8%;
}

.point-img {
    width:51vw;
    //position:absolute;
}

.p-img-one {
    //left:0;
}

.point-contents {
    display:flex;
    //position:absolute;
    //right:0;
    padding-top:3%;
    float:right;
    max-width:40%;
    margin-right:6vw;
}

.p-contents-one {
    //right:120px;
}

.point-content {
    flex-flow:column;
    padding-top:40px;
    width:80%;
}

.number-img {
    width:80px;
    align-self: flex-start;
    margin:0 30px 30px;
}

.point-h13{
    font-size:40px;
}

.point-h3 {
    font-size:30px;
    color:rgb(36, 214, 214);
    padding:20px 0;
}

.point-span {
    font-size:35px;
}

.point-annotation {
    text-align:right;
    font-size:12px;
}

.point-w {
    width:25vw;
}

.point-area {
    display:flex;
    justify-content:center;
    height:600px;
    margin-bottom:20%;
}

.area {
    width:520px;
}

.area img {
    width:520px;
}

.area-left {
    margin:0 50px;
}

.area-right {
    margin:100px 50px 50px 50px;
}

.area-h3 {
    text-align:center;
}

.point-main-twe {
    display:block;
}

.p-img-twe {
    //position:absolute;
    //right:0;
    float:right;
}

.p-contents-twe {
    display:flex;
    //float:left;
    //left:4%;
    padding-top:50px;
    max-width:37%;
}

.p-content-twe {
    padding-top:30px;
}

.number-img-twe {
    width:90px;
    align-self: flex-start;
    margin:30px 30px 30px 0;
}

.point-ww {
    width:400px;
    padding-top:20px;
}

.areas-left {
    width:44vw;
    align-self: flex-start;
    //position:absolute;
    //left:0;
}

.areas-right {
    //position:absolute;
    //margin-left:28vw;
    margin-left:110px;
}

.areas {
    width:26vw;
}

.areas-right img {
    width:30vw;
}

.point-areas {
    display:flex;
    margin-bottom:10%;
    //justify-content:space-between;
}

.point-content {
    height:29vw;
    padding-top:0;
    width:100%;
}

.point-sub {
    position:relative;
    height:25vw;
    
}

.point-sweet {
    width:38vw;
    top:30%;
    //bottom:220px;
    right:8%;
}

.point-sweets {
    width:62vw;
    left:0;
    //padding-top:150px;
}


//check-wrapper

.check-main {
    height:230px;
    margin-top:30px;
    max-width:1200px;
    margin:0 auto;
}

.check {
    height:280px;
}

.check-list {
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    padding-left:0;
}

.check-list li {
    width:20%;
    display:inline-block;
    text-align:center;
    //padding:10px 20px 10px 20px;
    background-color:rgba(255, 255, 255, 0.7);
    border-right:1px solid rgb(36, 214, 214);
    margin-top:10px;
    font-weight:900;
    vertical-align: bottom;
    color:rgb(36, 214, 214);
}

.check-one {
    height:80px;
}

.check-lis {
    padding:10px 20px 10px 20px;
}

//.check-list li:hover {
//    background-color:rgb(36, 214, 214);
//    color:white;
//}

.check-list p {
    margin-bottom:0;
    display:block;
}

.check-hou {
    border-left:1px solid rgb(36, 214, 214);
}

.check-p {
    font-weight: 900;
    font-size: 14px;
}

.check-ren {
    padding-top:20px;
}

.check-ptwe {
    padding-top:10px;
    font-weight: 900;
    font-size: 14px;
}

.check-fa {
    padding-top:13px;
}

.recipe-wrapper {
    max-width:1200px;
    max-height:1380px;
    margin:0 auto;
    margin-bottom:140px;
}

.recipe {
    background-color:white;
    padding:70px 60px;
    display:flex;
    flex-flow:column;
    
}

.recipe-head {
    display:flex;
    vertical-align:baseline;
    margin-bottom:40px;
}

.cutlery {
    width:40px;
    margin-right:20px;
    align-self: flex-start;
}

.recipe-main {
    //display:flex;
    //justify-content: space-between;
}

.recipe-h3 {
    font-size:25px;
}

.recipe-img {
    width:520px;
    align-self: flex-start;
    float:left;
}

h4 {
    font-size:22px;
    color:rgb(24, 226, 226);
    font-weight:900;
    text-align:center;
    margin-bottom:30px;
}

.recipe-h4 {
    margin-top:50px;
}

.recipe-h4-another {
    margin-top:30px;
}

.A {
    font-size:16px;
    font-weight:900;
    color:rgb(24, 226, 226);
    margin-top:20px;
}

.B::before {
    content: "\A";
    white-space: pre;
}

.recipe-contents {
    //margin-left:80px;
    float:right;
}

.recipe-content {
    border-bottom: dotted 2px rgb(24, 226, 226);
    width:485px;
    display:flex;
}

.recipe-right {
    text-align:right;
    padding-right:15px;
}

.recipe-b {
    padding:0 0 10px 15px;
    display: flex;
    justify-content: space-between;
    font-size:14px;
    margin-bottom:10px;
}

.recipe-c {
    font-size:16px;
    padding-bottom:25px;
}

.recipe-mark {
    font-size:20px;
    font-weight:600;
    color:rgb(24, 226, 226);
    padding-right:20px;
    vertical-align:middle;
}



// introduction-wrapper

.introduction-wrapper {
    height:1200px;
    background-image:url("/top_images/product_bg.jpg");
    background-size:cover;
    height:980px;
}

.introduction-container {
    padding:150px 0;
}

.introduction-main {
    margin-top:50px;
}

.gram {
    font-size:24px;
    padding-top:10px;
}

.introduction-package {
    margin-right:50px;
}

.introduction-contents {
    width:590px;
}

.introduction-p {
    //max-width:40%;
}

footer {
    height:80px;
}

.footer-p {
    color:rgb(6, 224, 224);
    text-align:center;
    line-height:80px;
    font-weight:600;
    font-size:17px;
}


// left-space

.left {
    display:flex;
    flex-flow:column;
}

.left-space {
    align-items:end;
}

.left-main {
    width:110px;
    align-items: center;
    margin-right:25px;
}

.right {
    display:block;
    border-radius:50%;
    text-align:center;
    position:fixed;
    z-index:9;
}

.right p {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight:900;
}

.fa-right {
    color: #252015;
}

.buy {
    width:100px;
    height:100px;
    display:block;
    background-color:rgb(0, 219, 219);
    border:1px solid rgb(0, 219, 219);
    box-shadow: 0 7px 10px 0 rgb(114, 255, 255);
    bottom:180px;
    color:white;
    font-weight:900;
    font-size:18px;
}

.buy:hover {
    color:rgb(0, 219, 219);
    background-color:white;
    border:1px solid white;
}

.buy span {
    margin-top:25px;
}

.page-top {
    width:80px;
    height:80px;
    margin-top:10px;
    background-color:white;
    border:1px solid white;
    box-shadow: 0 7px 10px 0 rgb(255, 226, 171);
    bottom:70px;
    font-weight:900;
    font-size:18px;
    font-size:15px;
    color:rgb(255, 175, 25);
    line-height:15px;
}

.page-top:hover {
    background-color:rgb(255, 175, 25);
    color:white;
    border:1px solid rgb(255, 175, 25);
}

.fa-chevron-up {
    margin:8px 0 5px 0;
}

.br::before {
	content: "\A" ;
	white-space: pre ;
}


@media screen and (max-width: 1280px) {
    body {
        background-image:url("/top_images/pad_visual_bg.jpg");
        background-size:cover;
        background-attachment:fixed;
        margin:0;
    }

    h2 {
        font-size:35px;
    }

    p {
        font-size:17px;
    }

    .top-wrapper {
        position:relative;
        height:745px;
    }

    .logo {
        width:120px;
        position:absolute;
        top:80px;
        right:0;
        left:0;
        margin:auto;
        z-index:10;
    }

    .img01 {
        width:270px;
        position:absolute;
        top:130px;
        right:0;
        left:50px;
        margin:auto;
        z-index:10;
    }

    .img03 {
        display:none !important;
    }
    
    .pad01 {
        width:470px;
        position:absolute;
        top:-50px;
        left:-110px;
        display:block !important;
        image-rendering: -webkit-optimize-contrast;
    }

    .img04 {
        display:none !important;
    }
    
    .pad02 {
        width:330px;
        position:absolute;
        right:-135px;
        bottom:15px;
        display:block !important;
        overflow: hidden;
    }
    
    .img05 {
        display:none !important;
    }

    .pad03 {
        width:300px;
        position:absolute;
        left:-130px;
        bottom:-20px;
        display:block !important;
    }


    .center {
        font-size:13px;
        height:60px;
        line-height:60px;
    }

    .fa-center {
        padding-right:0;
    }

    ul {
        padding-inline-start:0;
    }

    .heading-logo {
        width:90vw;
    }

    .thirteen-main {
        max-width:1300px;
        display:block;
        margin-left:100px;
    }

    .thirteen-h3 {
        font-size:25px;
    }

    .package {
        width:23vw;
        margin-right:60px;
        padding-right:0;
        float:left;
    }

    .component {
        width:11vw;
        //margin-right:5px;
    }

    .thirteen-contents {
        width:55vw;
    }

    .thirteen-p {
        margin-bottom:0;
    }

    .thirteen-link {
        //font-size:30px;
        //padding:15px 0;
        //width:600px;
        margin-top:20px;
    }

    .point-h13{
        font-size:30px;
    }

    .point-h3 {
        font-size:20px;
    }

    .areas-right img {
        width:40vw;
    }

    //.areas-left {
    //    width:49vw;
    //}

    .areas {
        width:35vw;
    }

    .check-wrapper {
        padding:0 30px;
    }

    .recipe-img {
        width:40vw;
        align-self: flex-start;
    }

    .recipe-content {
        width:38vw;
    }

    .introduction-contents {
        max-width:600px;
    }

}

@media (min-width: 1281px) and (max-width: 1503px) {
    .img03 {
        width:410px;
        position:absolute;
        left:150px;
        display:block !important;
    }
    
    .pad01 {
        display:none !important;
    }
    
    .img04 {
        width:750px;
        position:absolute;
        right:0;
        bottom:0;
        display:block !important;
    }
    
    .pad02 {
        display:none !important;
    }
    
    .img05 {
        width:650px;
        position:absolute;
        bottom:30px;
        display:block !important;
    }
    
    .pad03 {
        display:none !important;
    }
}

@media screen and (max-width: 1024px) {
    .thirteen-link {
        font-size:20px;
        padding:15px 0;
        width:450px;
    }

    .point-main {
        height:130vw;
        margin-bottom:0;
    }

    .point-img {
        width:80vw;
    }

    .point-w {
        width:47vw;
        margin-top:3%;
    }

    .point-contents {
        display:flex;
        //position:absolute;
        //right:0;
        padding-top:8%;
        float:none;
        max-width:79%;
        margin:0 auto;
    }
    
    .point-content {
        flex-flow:column;
        padding-top:0;
        width:100%;
    }

    .p-contents-twe {
        float:left;
        max-width:75%;
        margin:0 13%;
    }

    .clear {
        clear:left;
    }

    .point-ww {
        width:70%;
    }

}

@media screen and (max-width: 1083px) {
    .graph {
        width:45vw;
        margin:0 1vw 0 1vw;
        padding-bottom:20px;
    }

}

@media screen and (max-width: 1220px) {
    .area img {
        width:41vw;
    }

    .area-left {
        //margin:0 3vw 0 3vw;
    }

    .area-right {
        //margin:100px 3vw 50px 3vw;
    }
}

@media (min-width: 1025px) and (max-width: 1220px) {
    .point-ww {
        width:35vw;
    }

}

@media screen and (max-width: 768px) {
    .online-online {
        width:70%;
        font-size:-1.5em;
    }

}

@media screen and (max-width: 767px) {
    .center-wrapper {
        display:none;
    }

}