// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

body {
    background-image:url("/top_images/visual_bg.jpg");
    background-size:cover;
    background-attachment:fixed;
    margin:0;
}

body , h3 , h2 , h4 {
    font-family: 'Noto Sans JP', sans-serif;
}

* {
    margin-top: 0;
    box-sizing:border-box;
}

li {
    list-style:none;
}

.container {
    width:100%;
}

a {
    text-decoration: none;
}

a , p , h3 , h2 {
    color:rgb(37, 32, 21);
}

p {
    font-size:20px;
    font-weight:normal;
}

h2 {
    font-size:47px;
    font-weight:900;
    margin:0;
}


h3 {
    font-size:35px;
    margin:0;
    font-weight:900;
}

.main {
    display:flex;
    flex-direction: row;
    justify-content:center;
}

ul {
    //display:flex;
    //flex-direction:row;
}

#point {
    padding-top: 65px;
    margin-top: -65px;
}


//top-wrapper

.top-wrapper {
    position:relative;
    height:875px;
    overflow: hidden;
}

.logo {
    width:120px;
    position:absolute;
    top:50px;
    right:0;
    left:0;
    margin:auto;
    z-index:10;
}

.img01 {
    width:440px;
    position:absolute;
    top:100px;
    right:0;
    left:0;
    margin:auto;
    z-index:10;
}

.img03 {
    width:410px;
    position:absolute;
    left:360px;
    display:block !important;
}

.pad01 {
    display:none !important;
}

.sp01 {
    display:none !important;
}

.img04 {
    width:750px;
    position:absolute;
    right:100px;
    bottom:0;
    display:block !important;
}

.pad02 {
    display:none !important;
}

.sp02 {
    display:none !important;
}

.img05 {
    width:780px;
    position:absolute;
    bottom:30px;
    display:block !important;
}

.pad03 {
    display:none !important;
}

.sp03 {
    display:none !important;
}


//center-wrapper

.center-wrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index:10;
}

.center {
    height:65px;
    background-color:white;
    line-height:65px;
    //padding:0 320px;
    font-weight:900;
    font-size:18px;
    color:rgb(37, 32, 21);
    width:100%;
}

.center-list {
    //justify-content:space-around;
    //display:flex;
    //justify-content:center;
    max-width:1200px;
    margin:0 auto;
}

.center-list a {
    //padding:0 10px;
    display:block;
    white-space: nowrap;
}

.center-list li {
    width:19%;
    text-align:center;
    display:inline-block;
}

.center-head a:hover {
    background-color:rgb(229, 226, 226);
}

.li-logo {
    width:80px;
    vertical-align: middle;
}

.center-online a {
    color:rgb(24, 226, 226);
}

.center-online a:hover {
    background-color:rgb(24, 226, 226);
    color:white;
}

.fa-center {
    padding-right:5px;
}

.globalMenuSp {
    display:none;
}



//thirteen-wrapper

.thrteen {
    width:990px;
}

.heading-logo1 {
    width:1200px;
    padding:90px 0 120px 0;
    display:block;
    margin:0 auto;
}

.heading-logo2 {
    display:none !important;
}

.thirteen-wrapper {
    height:650px;
    margin-bottom:10%;
}

.package {
    width:300px;
    margin-right:6%;
    align-self: flex-start;
}

.component {
    width:140px;
}

.thirteen-p {
    padding:20px 0;
}

.thirteen-contents {
    display:flex;
    flex-flow:column;
}

.thirteen-link {
    display:block;
    border:2px solid black;
    font-size:25px;
    padding:25px 0;
    margin-top:40px;
    color:white;
    background-color:black;
    text-align:center;
    width:540px;
    position:relative;
}

.thirteen-link .fa-shopping-cart {
    position:absolute;
    top:35%;
    left:5%;
}

.fa-angle-right {
    position:absolute;
    top:37%;
    right:6%;
}

.thirteen-link:hover {
    color:black;
    background-color:white;
}

.fa-thirteen {
    padding:20px 30px 20px 0;
}

.fafa-thirteen {
    padding:20px 0 20px 50px;
}


// noone-wrapper

.noone-wrapper {
    position:relative;
    //height:1300px;
    margin-bottom:250px;
}

.heading-logo-twe {
    padding-bottom:80px;
}

.noone-main {
    flex-flow:column;
    align-items: center;
    max-width:100%;
    margin:0 4.5%;
}

.noone-half {
    text-align:center;
}

.noone-attention {
    font-weight:900;
    background:linear-gradient(transparent 70%, #ffc04c 0%) ;
}

.noone-img {
    flex-direction: row;
    padding:60px 0;
}

.graph {
    width:520px;
    //margin:0 20px 0 20px;
    padding-bottom:20px;
}

.graph-left {
    margin-right:20px;
}

.graph-right {
    margin-left:20px;
}

.annotation {
    font-size:14px;
    text-align:center;
}

.sub {
    position:absolute;
    z-index:2;
}

.subs {
    position:absolute;
    z-index:1;
}

.sweet-content {
    width:100%;
    height:22.5vw;
    position:relative;
    margin-top:150px;
}

.noone-sweet1 {
    width:33vw;
    top:30%;
    left:10%;
    //bottom:100px;
}

.noone-sweet2 {
    display:none !important;
}

.noone-sweets1 {
    width:66vw;
    right:0;
    //bottom:0;
    //padding-top:150px;
}

.noone-sweets2 {
    display:none !important;
}


//point-wrapper

.point-heading {
    display:flex;
    flex-flow: column;
    align-items: center;
}

.under-point {
    width:250px;
    padding:10px 0;
}

.point-main {
    position:relative;
    //height:700px;
    margin-top:70px;
    margin-bottom:18%;
}

.point-main:after   {  
    content: ".";   
    display: block;   
    visibility: hidden;   
    height: 0.1px;   
    font-size: 0.1em;   
    line-height: 0;   
    clear: both;   
} 

.point-img {
    width:51vw;
    //position:absolute;
}

.point-contents {
    display:flex;
    //position:absolute;
    //right:0;
    padding-top:3%;
    float:right;
    max-width:38%;
    margin-right:6vw;
}

.point-content {
    flex-flow:column;
    padding-top:10px;
    width:80%;
}

.number-img {
    width:80px;
    align-self: flex-start;
    margin-right:30px;
}

.point-h13{
    font-size:40px;
}

.point-h3 {
    font-size:30px;
    color:rgb(36, 214, 214);
    padding:20px 0;
}

.point-span {
    font-size:35px;
}

.point-annotation {
    text-align:right;
    font-size:12px;
}

.point-w {
    width:480px;
}

.point-area {
    display:flex;
    justify-content:center;
    height:600px;
    margin-bottom:20%;
}

.area {
    width:520px;
}

.area img {
    width:520px;
}

.area-left {
    margin:0 50px 0 50px;
}

.area-right {
    margin:100px 50px 50px 50px;
}

.area-h3 {
    text-align:center;
}

.point-main-twe {
    display:block;
}

.p-img-twe {
    //position:absolute;
    //right:0;
    float:right;
}

.p-contents-twe {
    display:flex;
    //float:left;
    //left:4%;
    padding-top:50px;
    max-width:700px;
    padding-top:3%;
    margin-right:58%;
    margin-left:5%;
}

.p-content-twe {
    padding-top:30px;
    padding-top:0;
    width:100%;
}

.number-img-twe {
    width:90px;
    align-self: flex-start;
    margin-right:30px;
}

.point-ww {
    width:400px;
    padding-top:20px;
}

.areas-left {
    width:44vw;
    align-self: flex-start;
    //position:absolute;
    //left:0;
}

.areas-right {
    //position:absolute;
    //margin-left:28vw;
    margin-left:7%;
}

.areas {
    width:26vw;
}

.areas-right img {
    width:30vw;
}

.point-areas {
    display:flex;
    margin-bottom:10%;
    //justify-content:space-between;
}

.point-sub {
    position:relative;
    height:25vw;
    
}

.point-sweet {
    width:38vw;
    top:30%;
    //bottom:220px;
    right:8%;
}

.point-sweets1 {
    width:62vw;
    left:0;
    //padding-top:150px;
}

.point-sweets2 {
    display:none !important;
}



//check-wrapper

.check-main {
    height:230px;
    margin-top:30px;
    max-width:1200px;
    margin:0 auto;
}

.check {
    height:280px;
}

.check-list {
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    padding-left:0;
}

.check-list li {
    width:20%;
    display:inline-block;
    text-align:center;
    //padding:10px 20px 10px 20px;
    background-color:rgba(255, 255, 255, 0.7);
    border-right:1px solid rgb(36, 214, 214);
    margin-top:10px;
    font-weight:900;
    vertical-align: bottom;
    color:rgb(36, 214, 214);
    cursor:pointer;
}

.check-one {
    height:80px;
}

.check-lis {
    padding:10px 20px 10px 20px;
}

.check-list li:hover {
    background-color:rgb(36, 214, 214) !important;
    color:white !important;
}

.check-list p {
    margin-bottom:0;
    display:block;
}

.check-hou {
    border-left:1px solid rgb(36, 214, 214);
}

.check-p {
    font-weight: 900;
    font-size: 14px;
}

.check-ren {
    padding-top:20px;
}

.check-ptwe {
    padding-top:10px;
    font-weight: 900;
    font-size: 14px;
}

.check-fa {
    padding-top:13px;
}

.recipe-wrapper {
    max-width:1200px;
    max-height:1380px;
    margin:0 auto;
    margin-bottom:140px;
}

.recipe {
    background-color:white;
    padding:60px;
    display:flex;
    flex-flow:column;
    
}

.recipe-head {
    display:flex;
    vertical-align:baseline;
    margin-bottom:40px;
}

.cutlery {
    width:40px;
    margin-right:20px;
    align-self: flex-start;
}

.recipe-main {
    //display:flex;
    //justify-content: space-between;
}

.recipe-h3 {
    font-size:25px;
}

.recipe-img {
    width:48%;
    align-self: flex-start;
    //float:left;
    //margin-right:7%;
}

h4 {
    font-size:22px;
    color:rgb(24, 226, 226);
    font-weight:900;
    text-align:center;
    margin-bottom:30px;
}

.recipe-h4 {
    margin-top:50px;
}

.recipe-h4-another {
    margin-top:30px;
}

.A {
    font-size:16px;
    font-weight:900;
    color:rgb(24, 226, 226);
    margin-top:20px;
}

.B::before {
    content: "\A";
    white-space: pre;
}

.recipe-contents {
    //margin-left:80px;
    float:right;
    //padding-left:7%;
    width:45%;
}

.recipe-content {
    border-bottom: dotted 2px rgb(24, 226, 226);
    //max-width:100%;
    display:flex;
}

.recipe-left {
    width:60%;
}

.recipe-right {
    text-align:right;
    padding-right:20px;
}

.recipe-b {
    padding:0 0 10px 15px;
    display: flex;
    justify-content: space-between;
    font-size:14px;
    margin-bottom:10px;
}

.recipe-c {
    font-size:16px;
    padding-bottom:25px;
}

.recipe-mark {
    font-size:20px;
    font-weight:600;
    color:rgb(24, 226, 226);
    padding-right:20px;
    vertical-align:middle;
}

.check-wrapper2 {
    display:none;
}


// introduction-wrapper

.introduction-wrapper {
    //height:1200px;
    background-image:url("/top_images/product_bg.jpg");
    background-size:cover;
    height:980px;
}

.introduction-container {
    padding:150px 0;
}

.introduction-main {
    margin-top:50px;
}

.gram {
    font-size:24px;
    padding-top:10px;
}

.introduction-package {
    width:300px;
    margin-right:6%;
    align-self: flex-start;
    margin-right:8%;
    margin-left:40px;
}

.introduction-contents {
    width:590px;
}

.introduction-p {
    //max-width:40%;
}

.introduction-link {
    margin-top:60px;
}

.introduction-link .fa-angle-right {
    padding:0;
}

.introduction-link .fa-shopping-cart {
    padding:0;
}


// footer

footer {
    height:80px;
}

.footer-p {
    color:rgb(6, 224, 224);
    text-align:center;
    line-height:80px;
    font-weight:600;
    font-size:17px;
}


// left-space

.left {
    display:flex;
    flex-flow:column;
}

.left-space {
    align-items:end;
}

.left-main {
    width:110px;
    align-items: center;
    margin-right:25px;
}

.right {
    display:block;
    border-radius:50%;
    text-align:center;
    position:fixed;
    z-index:9;
}

.right p {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight:900;
}

.fa-right {
    color: #252015;
}

.buy {
    width:100px;
    height:100px;
    display:block;
    background-color:rgb(0, 219, 219);
    border:1px solid rgb(0, 219, 219);
    box-shadow: 0 7px 10px 0 rgb(114, 255, 255);
    bottom:180px;
    color:white;
    font-weight:900;
    font-size:18px;
    right:30px;
}

.buy:hover {
    color:rgb(0, 219, 219);
    background-color:white;
    border:1px solid white;
}

.buy span {
    margin-top:25px;
}

.page-top {
    width:80px;
    height:80px;
    margin-top:10px;
    background-color:white;
    border:1px solid white;
    box-shadow: 0 7px 10px 0 rgb(255, 226, 171);
    bottom:70px;
    font-weight:900;
    font-size:18px;
    font-size:15px;
    color:rgb(255, 175, 25);
    line-height:15px;
}

.page-top:hover {
    background-color:rgb(255, 175, 25);
    color:white;
    border:1px solid rgb(255, 175, 25);
}

.fa-chevron-up {
    margin:8px 0 5px 0;
}

.br::before {
	content: "\A" ;
	white-space: pre ;
}


@media screen and (max-width: 1280px) {
    body {
        background-image:url("/top_images/pad_visual_bg.jpg");
        background-size:cover;
        background-attachment:fixed;
        margin:0;
    }

    h2 {
        font-size:35px;
    }

    p {
        font-size:17px;
    }

    .top-wrapper {
        position:relative;
        height:745px;
    }

    .logo {
        width:120px;
        position:absolute;
        top:80px;
        right:0;
        left:0;
        margin:auto;
        z-index:10;
    }

    .img01 {
        width:270px;
        position:absolute;
        top:130px;
        right:0;
        left:50px;
        margin:auto;
        z-index:10;
    }

    .img03 {
        display:none !important;
    }
    
    .pad01 {
        width:470px;
        position:absolute;
        top:-50px;
        left:-110px;
        display:block !important;
        image-rendering: -webkit-optimize-contrast;
    }

    .img04 {
        display:none !important;
    }
    
    .pad02 {
        width:330px;
        position:absolute;
        right:-135px;
        bottom:15px;
        display:block !important;
        overflow: hidden;
    }
    
    .img05 {
        display:none !important;
    }

    .pad03 {
        width:300px;
        position:absolute;
        left:-130px;
        bottom:-20px;
        display:block !important;
    }


    .center {
        font-size:13px;
        height:60px;
        line-height:60px;
    }

    .fa-center {
        padding-right:0;
    }

    ul {
        padding-inline-start:0;
    }

    .heading-logo {
        width:90vw;
    }

    .thirteen-main {
        max-width:1300px;
        display:block;
        margin-left:8%;
    }

    .thirteen-h3 {
        font-size:25px;
    }

    .package {
        width:23vw;
        margin-right:60px;
        padding-right:0;
        float:left;
    }

    .component {
        width:11vw;
        //margin-right:5px;
    }

    .thirteen-contents {
        width:55vw;
    }

    .thirteen-p {
        margin-bottom:0;
    }

    .thirteen-link {
        //font-size:30px;
        //padding:15px 0;
        //width:600px;
        margin-top:20px;
    }

    .noone-half {
        font-size:20px;
        width:100%;
        margin:0 auto;
    }

    .point-contents {
        max-width:43%;
        margin-right:5vw;
    }

    .point-h13{
        font-size:28px;
    }

    .point-h3 {
        font-size:25px;
    }

    .p-contents-twe {
        margin-left:2%;
        margin-right:6%;
    }

    .areas-right img {
        width:40vw;
    }

    //.areas-left {
    //    width:49vw;
    //}

    .areas {
        width:35vw;
    }

    .check-wrapper {
        padding:0 30px;
    }

    .recipe-img {
        //width:40vw;
        align-self: flex-start;
    }

    .recipe-c p {
        width:100%;
    }

    .introduction-contents {
        max-width:600px;
    }

    .check-p {
        font-size:11px;
    }

    .check-ptwe {
        font-size:11px;
    }

    .under-point {
        width:200px;
    }

    .introduction-p {
        margin-bottom:15px;
    }

    .introduction-link {
        margin-top:60px;
    }

    .introduction-link .fa-shopping-cart {
        top:37%;
        padding:0;
    }

    .introduction-link .fa-angle-right {
        padding:0;
    }

}

@media (min-width: 1281px) and (max-width: 1503px) {
    .img03 {
        width:410px;
        position:absolute;
        left:150px;
        display:block !important;
    }
    
    .pad01 {
        display:none !important;
    }
    
    .img04 {
        width:750px;
        position:absolute;
        right:0;
        bottom:0;
        display:block !important;
    }
    
    .pad02 {
        display:none !important;
    }
    
    .img05 {
        width:650px;
        position:absolute;
        bottom:30px;
        display:block !important;
    }
    
    .pad03 {
        display:none !important;
    }
}

@media screen and (max-width: 1024px) {
    .thirteen-link {
        font-size:17px;
        width:370px;
    }

    .thirteen-link .fa-shopping-cart {
        position:absolute;
        top:40%;
        left:8%;
    }
    
    .fa-angle-right {
        position:absolute;
        top:40%;
        right:8%;
    }

    .point-main-one {
        //height:135vh;
        //margin-bottom:15%;
    }

    .point-main-twe {
        //height:110vw;
        margin-bottom:170px;
    }

    .point-img {
        width:80vw;
        margin-bottom:30px;
    }

    .point-w {
        width:500px;
        margin-top:3%;
    }

    .point-contents {
        display:flex;
        //position:absolute;
        //right:0;
        padding-top:8%;
        float:none;
        max-width:740px;
        margin:0 auto;
        //margin-left:11%;
        //margin-right:6%;
    }
    
    .point-content {
        flex-flow:column;
        padding-top:0;
        width:100%;
    }

    .p-contents-twe {
        //float:left;
        width:1800px;
        //margin:0 13%;
        //margin-left:10%;
        //margin-top:3%;
        margin:0 auto;
    }

    .clear {
        clear:left;
    }

    .point-ww {
        width:380px;
    }

    .area img {
        width:40vw;
    }

}

@media screen and (max-width: 1220px) {
    .graph {
        width:41vw;
        //margin:0 1vw 0 1vw;
        padding-bottom:20px;
    }

    .area-left {
        //margin:0 3vw 0 3vw;
    }

    .area-right {
        //margin:100px 3vw 50px 3vw;
    }

}

@media (min-width: 1025px) and (max-width: 1200px) {
    .area img {
        width:40vw;
    }

}


@media (min-width: 1025px) and (max-width: 1220px) {
    .point-ww {
        width:35vw;
    }

}

@media (min-width: 1025px) and (max-width: 1540px) {
    .point-w {
        width:31vw;
    }
}

@media screen and (max-width: 1260px) {
    .recipe-content {
        //width:37vw;
    }
}

@media screen and (max-width: 1120px) {
    .introduction-package {
        width:27vw;
    }

}

@media screen and (max-width: 846px) {
    .point-contents {
        max-width:87%;
    }

}

@media screen and (max-width: 840px) {
    .p-contents-twe {
        max-width:85%;
        //margin-right:5%;
    }

}

@media screen and (max-width: 768px) {
    .online-online {
        width:70%;
        font-size:-1.5em;
    }

}

@media screen and (max-width: 767px) {
    body {
        background-image:url("/top_images/sp_visual_bg.jpg");
        background-size:cover;
        background-attachment:fixed;
    }

    .center-wrapper {
        display:none;
    }

    .thirteen-link {
        display:none;
    }

    .globalMenuSp {
        display:block !important;
    }

    .check {
        display:none;
    }

    .point-heading {
        display:none;
    }

    .check-wrapper2 {
        display:block !important;
    }

}


@media screen and (max-width: 375px) {
    // top-wrapper 

    .top-wrapper {
        position:relative;
        height:950px;
    }

    .logo {
        width:30%;
        position:absolute;
        top:4%;
        right:0;
        left:0;
        margin:auto;
        z-index:10;
    }
    
    .img01 {
        width:75%;
        position:absolute;
        top:9%;
        right:0;
        left:0;
        margin:auto;
        z-index:10;
    }

    .pad01 {
        display:none !important;
    }
    
    .sp01 {
        width:30%;
        position:absolute;
        top:0px;
        left:0px;
        display:block !important;
    }

    .pad02 {
        display:none !important;
    }

    .sp02 {
        width:40%;
        position:absolute;
        top:0px;
        right:0px;
        display:block !important;
        overflow: hidden;
    }

    .pad03 {
        display:none !important;
    }
    
    .sp03 {
        width:30%;
        position:absolute;
        bottom:200px;
        display:block !important;
    }


    // thirteen-wrapper

    .thirteen-wrapper {
        height:850px;
        margin-bottom:0;
    }

    .heading-logo1 {
        display:none !important;
    }

    .heading-logo2 {
        width:90%;
        padding:0;
        display:block !important;
        margin:0 auto;
    }

    .thirteen-main {
        width:100%;
        margin:0 auto;
        display:block;
    }

    .package {
        width:40%;
        margin:30px 30%;
    }

    .thirteen-contents {
        width:80%;
        margin:0 auto;
    }

    .thirteen-h3 {
        font-size:20px;
    }

    .thirteen-p {
        font-size:13.5px;
        padding:10px 0 40px;
    }

    .component {
        width:49%;
    }


    //noone-wrapper 

    .noone-wrapper {
        margin-bottom:60px;
    }

    .noone-half {
        width:88%;
        font-size:14px;
        text-align:left;
        margin:20px 0 50px;
    }
    
    .graph {
        width:100%;
    }

    .noone-img {
        padding:0;
    }

    .graph-left {
        margin:0;
        padding:0;
    }

    .graph-right {
        margin:0;
        padding:20px 0;
    }

    .annotation {
        font-size:10px;
    }

    .annotation-span::before {
        content:"\A";
        white-space:pre;
    }

    .sweet-content {
        height:261px;
        margin-top:70px;
    }

    .noone-sweet1 {
        display:none !important;
    }
    
    .noone-sweet2 {
        width:80%;
        bottom:0;
        left:0;
        //bottom:100px;
        display:block !important;
    }
    
    .noone-sweets1 {
        display:none !important;
    }
    
    .noone-sweets2 {
        width:75%;
        right:0;
        //bottom:0;
        //padding-top:150px;
        display:block !important;
    }


    //point-wrapper

    h2 {
        font-size:28px;
        text-align:center;
    }

    .point-img {
        width:95%;
    }

    .point-h13 {
        font-size:24px;
    }

    .point-h3 {
        font-size:18px;
    }

    .number-img {
        align-items:center;
        margin:0 39% 20px;
        width:18%;
    }

    .point-contents {
        max-width:90%;
        display:block;
        padding-top:0;
    }

    .point-w {
        width:85%;
        margin:10px 10%;
    }

    p {
        font-size:14px;
    }

    .point-area {
        display:block;
        height:auto;
    }

    .area {
        width:80%;
        margin:0 auto;
    }

    .area-left {
        margin-bottom:50px;
    }

    .area img {
        width:100%;
    }
    
    .area-h3 {
        padding:5px 0 15px;
        font-size:17px;
    }

    .point-span {
        font-size:25px;
    }

    .area-right {
        margin-bottom:60px;
    }

    .point-main-twe {
        margin-bottom:0;
    }

    .number-img-twe {
        align-items:center;
        margin:0 39% 20px;
        width:25%;
    }

    .p-contents-twe {
        max-width:90%;
        display:block;
        padding-top:0;
    }

    .p-content-twe {
        width:100;
    }

    .point-ww {
        width:95%;
        margin:0 3%;
    }

    .point-areas {
        display:block;
        margin-bottom:80px;
    }

    .areas-left {
        width:100%;
    }

    .areas-right img {
        width:100%;
    }

    .areas-right {
        width:90%;
        margin:0 0 0 35px;
    }

    .areas {
        align-items:end;
    }

    .areas-right p {
        width:95%;
    }

    .point-sub {
        height:320px;
    }

    .point-sweet {
        width:90%;
        top:64%;
        right:0;
    }

    .point-sweets1 {
        display:none !important;
    }
    
    .point-sweets2 {
        width:80%;
        display:block !important;
    }


    //check-wrapper

    .check-main {
        height:65px;
    }

    .point-heading2 {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .check-list2 li {
        width:100%;
        background-color:white;
        border-right: 1px solid #24d6d6;
        border-left: 1px solid #24d6d6;
        margin-top:-1px;
        position:relative;
        color:#24d6d6;
    }

    .js-dropdown-menu {
        max-height: 200px;
        overflow-y:scroll;
    }

    .js-dropdown {
        margin-bottom:10px;
    }
    
    .check-list2 p {
        display:inline-block;
        text-align:left;
        float:left;
        font-size:15px;
    }

    .check-fa {
        float:right;
        padding-top:0;
    }

    .check-fa2 {
        float:right;
    }
    
    .check-twe {
        height:80px;
    }

    .check-lis {
        padding:20px 20px 10px 20px;
    }

    .check-las {
        padding:20px 20px 10px 20px;
    }
    
    .check-ren {
        padding-top:0;
    }

    .check-ptwe {
        padding-top:0;
    }

    .recipe {
        padding:20px 30px;
    }

    .recipe-head {
        display:block;
    }

    .cutlery {
        width:10%;
        margin:0 50%;
    }

    .recipe-h3 {
        font-size:15px;
    }

    .recipe-img {
        width:100%;
    }

    .recipe-contents {
        width:100%;
    }

    h4 {
        font-size:15px;
    }

    .recipe-b {
        font-size:12px;
    }

    .recipe-c {
        font-size:12px;
    }

    .recipe-right {
        font-size:12px;
    }


    //introduction-wrapper
    
    .main {
        display:block;
    }

    .introduction-wrapper {
        height:auto;
    }

    .introduction-main {
        margin-top:20px;
    }

    .introduction-container {
        padding:60px 0;
    }

    .introduction-package {
        width:45%;
        margin:0 28% 25px;
    }

    .gram {
        font-size:17px;
    }

    .introduction-contents {
        width:80%;
        text-align:left;
        margin:0 auto;
    }

    .introduction-p {
        padding:0;
    }

    .introduction-contents h3 {
        margin:0 -17px 0;
    }

    .introduction-wrapper .thirteen-link {
        display:block !important;
        width:100%;
        padding:15px 0;
        font-size:16px;
    }

    .thirteen-link .fa-shopping-cart {
        top:34%;
        left:3%;
        font-size:20px;
    }

    .thirteen-link .fa-angle-right {
        top:32%;
        right:4%;
        font-size:20px;
    }


    //footer 

    footer {
        height:120px;
    }
    
    .footer-p {
        font-size:14px;
        font-weight:normal;
        line-height:55px;
    }

    .page-top {
        width:55px;
        height:55px;
        font-size:10px;
        bottom:55px;
        right:10px;
    }

    .fa-chevron-up {
        margin:0;
    }

    .buy-bottom {
        height:80px;
        width:100%;
        background-color:white;
        position:fixed;
        bottom:0;
    }

    .buy {
        position:initial;
        border-radius:40px;
        width:70%;
        height:40px;
        line-height:40px;
        margin:5% auto;
        box-shadow:none;
    }

    .buy span {
        margin:0;
    }

    .left-main {
        width:100%;
        margin-right:0;
    }

    .buy .br::before {
        content: "\A" ;
        white-space:normal;
    }

    .buy .fa-shopping-cart {
        margin-right:20px;
    }



    .hamburger {
        display : block;
        position: fixed;
        z-index : 12;
        right : 11px;
        top   : 12px;
        width : 55px;
        height: 55px;
        cursor: pointer;
        text-align: center;
        border:1px solid white;
        border-radius:50%;
        background-color:white;
        box-shadow: 0 0px 2px 0 rgb(83, 83, 83);
    }

    .hamburger span {
        display : block;
        position: absolute;
        width   : 20px;
        height  : 3px ;
        left    : 17px;
        background : #252015;
        //-webkit-transition: 0.3s ease-in-out;
        //-moz-transition   : 0.3s ease-in-out;
        //transition        : 0.3s ease-in-out;
    }

    .hamburger span:nth-child(1) {
        top: 18px;
    }

    .hamburger span:nth-child(2) {
        top: 25px;
    }

    .hamburger span:nth-child(3) {
        top: 32px;
    }
    
      /* ナビ開いてる時のボタン */
    .hamburger.active span:nth-child(1) {
        top : 25px;
        left: 17px;
        background : #00dbdb;
        -webkit-transform: rotate(-45deg);
        -moz-transform   : rotate(-45deg);
        transform        : rotate(-45deg);
    }
    
    .hamburger.active span:nth-child(2),
    .hamburger.active span:nth-child(3) {
        top: 25px;
        background : #00dbdb;
        -webkit-transform: rotate(45deg);
        -moz-transform   : rotate(45deg);
        transform        : rotate(45deg);
    }
    
    nav.globalMenuSp {
        position: fixed;
        z-index : 11;
        top  : 0;
        left : 0;
        color: #000;
        background: #00dbdb;
        text-align: center;
        transform: translateY(-100%);
        transition: all 0.6s;
        width: 100%;
        height:100vh;
    }
    
    nav.globalMenuSp ul {
        background: #00dbdb;
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }
    
    nav.globalMenuSp ul li {
        list-style-type: none;
        padding: 0;
        width: 100%;
        //border-bottom: 1px solid #fff;
    }
    nav.globalMenuSp ul li:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }
    nav.globalMenuSp ul li:hover{
        background :#ddd;
    }
    
    nav.globalMenuSp ul li a {
        display: block;
        //color: white;
        //padding: 1em 0;
        text-decoration :none;
        font-weight:900;
        //font-size:20px;
    }
    
      /* このクラスを、jQueryで付与・削除する */
    nav.globalMenuSp.active {
        transform: translateY(0%);
    }


    .li-logo {
        margin:30px 0 80px;
    }

    .center-head {
        font-size:20px;
    }

    .online-online {
    border-radius: 40px;
    width: 70%;
    margin:80px auto;
    box-shadow: none;
    background-color:white;
    color:#00dbdb;
    padding:17px 0;
    font-size:18px;
    }

    .online-online .fa-shopping-cart {
        margin-right:10px;
    }

    .point-check {
        color:white;
        padding:15px 0;
    }

}